PySide6==6.7.3
matplotlib>=3.8.0
pyserial>=3.5
numpy>=1.24.0
Pillow>=10.0.0
pyyaml>=6.0.0
opencv-python>=4.8.0
scipy>=1.11.0
ultralytics>=8.4.0
# Hinweis: Das PyPI-Paket ultralytics verwendet derzeit 8.x-Versionen,
# kann aber trotzdem YOLO11-Modelle laden.
torch>=2.0.0
torchvision>=0.15.0
tensorflow>=2.16.0